# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
*.lock
*.bin
.gradle/7.5.1/dependencies-accessors/gc.properties
.gradle/7.5.1/gc.properties
.gradle/buildOutputCleanup/cache.properties
.gradle/file-system.probe
.gradle/vcs-1/gc.properties
.SysId/sysid-window.json
.SysId/sysid.json
.vscode/launch.json
.vscode/settings.json
.wpilib/wpilib_preferences.json
bin/main/frc/robot/commands/AutonomousCommand.java~
bin/main/frc/robot/commands/ClimberMove.java~
bin/main/frc/robot/commands/ConveyorControlPower.java~
bin/main/frc/robot/commands/ConveyorMove.java~
bin/main/frc/robot/commands/DriveTrainArcade.java~
bin/main/frc/robot/commands/IntakeControl.java~
bin/main/frc/robot/commands/IntakeControlPower.java~
bin/main/frc/robot/commands/IntakeControlSpeed.java~
bin/main/frc/robot/commands/IntakeMove.java~
bin/main/frc/robot/commands/IntakeStop.java~
bin/main/frc/robot/commands/ShooterControlPower.java~
bin/main/frc/robot/commands/ShooterControlPowerHigh.java~
bin/main/frc/robot/commands/ShooterControlPowerLow.java~
bin/main/frc/robot/commands/ShooterMove.java~
bin/main/frc/robot/commands/ShooterMoveHigh.java~
bin/main/frc/robot/commands/ShooterMoveLow.java~
bin/main/frc/robot/Constants.java~
bin/main/frc/robot/Main.java~
bin/main/frc/robot/Robot.java~
bin/main/frc/robot/RobotContainer.java~
build.gradle
build/debug/debug_info.json
build/debug/roborio.json
build/jni/release/apriltag.dll
build/jni/release/apriltag.pdb
build/jni/release/apriltagjni.dll
build/jni/release/apriltagjni.pdb
build/jni/release/cscore.dll
build/jni/release/cscore.pdb
build/jni/release/cscorejni.dll
build/jni/release/cscorejni.pdb
build/jni/release/halsim_ds_socket.dll
build/jni/release/halsim_ds_socket.pdb
build/jni/release/halsim_gui.dll
build/jni/release/halsim_gui.pdb
build/jni/release/ntcore.dll
build/jni/release/ntcore.pdb
build/jni/release/ntcorejni.dll
build/jni/release/ntcorejni.pdb
build/jni/release/opencv_aruco460.dll
build/jni/release/opencv_aruco460.pdb
build/jni/release/opencv_calib3d460.dll
build/jni/release/opencv_calib3d460.pdb
build/jni/release/opencv_core460.dll
build/jni/release/opencv_core460.pdb
build/jni/release/opencv_features2d460.dll
build/jni/release/opencv_features2d460.pdb
build/jni/release/opencv_flann460.dll
build/jni/release/opencv_flann460.pdb
build/jni/release/opencv_gapi460.dll
build/jni/release/opencv_gapi460.pdb
build/jni/release/opencv_highgui460.dll
build/jni/release/opencv_highgui460.pdb
build/jni/release/opencv_imgcodecs460.dll
build/jni/release/opencv_imgcodecs460.pdb
build/jni/release/opencv_imgproc460.dll
build/jni/release/opencv_imgproc460.pdb
build/jni/release/opencv_java460.dll
build/jni/release/opencv_ml460.dll
build/jni/release/opencv_ml460.pdb
build/jni/release/opencv_objdetect460.dll
build/jni/release/opencv_objdetect460.pdb
build/jni/release/opencv_photo460.dll
build/jni/release/opencv_photo460.pdb
build/jni/release/opencv_stitching460.dll
build/jni/release/opencv_stitching460.pdb
build/jni/release/opencv_video460.dll
build/jni/release/opencv_video460.pdb
build/jni/release/opencv_videoio460.dll
build/jni/release/opencv_videoio460.pdb
build/jni/release/REVLibDriver.dll
build/jni/release/REVLibDriver.pdb
build/jni/release/wpiHal.dll
build/jni/release/wpiHal.pdb
build/jni/release/wpiHaljni.dll
build/jni/release/wpiHaljni.pdb
build/jni/release/wpimath.dll
build/jni/release/wpimath.pdb
build/jni/release/wpimathjni.dll
build/jni/release/wpimathjni.pdb
build/jni/release/wpinet.dll
build/jni/release/wpinet.pdb
build/jni/release/wpinetjni.dll
build/jni/release/wpinetjni.pdb
build/jni/release/wpiutil.dll
build/jni/release/wpiutil.pdb
build/jni/release/wpiutiljni.dll
build/jni/release/wpiutiljni.pdb
build/sim/release_java.json
build/tmp/expandedArchives/apriltag-cpp-2023.1.1-linuxathena.zip_fbd393ea7a325b5379fa72560166eee7/linux/athena/shared/libapriltag.so
build/tmp/expandedArchives/apriltag-cpp-2023.1.1-linuxathena.zip_fbd393ea7a325b5379fa72560166eee7/linux/athena/shared/libapriltagjni.so
build/tmp/expandedArchives/apriltag-cpp-2023.2.1-linuxathena.zip_183c798e5cb179689b67a30ecbd14f50/linux/athena/shared/libapriltag.so
build/tmp/expandedArchives/apriltag-cpp-2023.2.1-linuxathena.zip_183c798e5cb179689b67a30ecbd14f50/linux/athena/shared/libapriltagjni.so
build/tmp/expandedArchives/cscore-cpp-2023.1.1-linuxathena.zip_5acbeeafde73961ca403406d31392544/linux/athena/shared/libcscore.so
build/tmp/expandedArchives/cscore-cpp-2023.1.1-linuxathena.zip_5acbeeafde73961ca403406d31392544/linux/athena/shared/libcscorejni.so
build/tmp/expandedArchives/cscore-cpp-2023.2.1-linuxathena.zip_3dc3bdf6504f5a2901f84b214c680808/linux/athena/shared/libcscore.so
build/tmp/expandedArchives/cscore-cpp-2023.2.1-linuxathena.zip_3dc3bdf6504f5a2901f84b214c680808/linux/athena/shared/libcscorejni.so
build/tmp/expandedArchives/hal-cpp-2023.1.1-linuxathena.zip_7651488f563c367c17354c52e7a466d6/linux/athena/shared/libwpiHal.so
build/tmp/expandedArchives/hal-cpp-2023.1.1-linuxathena.zip_7651488f563c367c17354c52e7a466d6/linux/athena/shared/libwpiHaljni.so
build/tmp/expandedArchives/hal-cpp-2023.2.1-linuxathena.zip_f62dd7568fd732294e9efab24a12dd04/linux/athena/shared/libwpiHal.so
build/tmp/expandedArchives/hal-cpp-2023.2.1-linuxathena.zip_f62dd7568fd732294e9efab24a12dd04/linux/athena/shared/libwpiHaljni.so
build/tmp/expandedArchives/ntcore-cpp-2023.1.1-linuxathena.zip_f2a1c073bd4db9b0eafef060e60108a4/linux/athena/shared/libntcore.so
build/tmp/expandedArchives/ntcore-cpp-2023.1.1-linuxathena.zip_f2a1c073bd4db9b0eafef060e60108a4/linux/athena/shared/libntcorejni.so
build/tmp/expandedArchives/ntcore-cpp-2023.2.1-linuxathena.zip_39622dd886b1dac46fdcf7e4998e672c/linux/athena/shared/libntcore.so
build/tmp/expandedArchives/ntcore-cpp-2023.2.1-linuxathena.zip_39622dd886b1dac46fdcf7e4998e672c/linux/athena/shared/libntcorejni.so
build/tmp/expandedArchives/opencv-cpp-4.6.0-4-linuxathena.zip_4d32904686a2b369ed526b9b0ea7df8a/linux/athena/shared/libopencv_aruco.so.4.6
build/tmp/expandedArchives/opencv-cpp-4.6.0-4-linuxathena.zip_4d32904686a2b369ed526b9b0ea7df8a/linux/athena/shared/libopencv_calib3d.so.4.6
build/tmp/expandedArchives/opencv-cpp-4.6.0-4-linuxathena.zip_4d32904686a2b369ed526b9b0ea7df8a/linux/athena/shared/libopencv_core.so.4.6
build/tmp/expandedArchives/opencv-cpp-4.6.0-4-linuxathena.zip_4d32904686a2b369ed526b9b0ea7df8a/linux/athena/shared/libopencv_features2d.so.4.6
build/tmp/expandedArchives/opencv-cpp-4.6.0-4-linuxathena.zip_4d32904686a2b369ed526b9b0ea7df8a/linux/athena/shared/libopencv_flann.so.4.6
build/tmp/expandedArchives/opencv-cpp-4.6.0-4-linuxathena.zip_4d32904686a2b369ed526b9b0ea7df8a/linux/athena/shared/libopencv_gapi.so.4.6
build/tmp/expandedArchives/opencv-cpp-4.6.0-4-linuxathena.zip_4d32904686a2b369ed526b9b0ea7df8a/linux/athena/shared/libopencv_highgui.so.4.6
build/tmp/expandedArchives/opencv-cpp-4.6.0-4-linuxathena.zip_4d32904686a2b369ed526b9b0ea7df8a/linux/athena/shared/libopencv_imgcodecs.so.4.6
build/tmp/expandedArchives/opencv-cpp-4.6.0-4-linuxathena.zip_4d32904686a2b369ed526b9b0ea7df8a/linux/athena/shared/libopencv_imgproc.so.4.6
build/tmp/expandedArchives/opencv-cpp-4.6.0-4-linuxathena.zip_4d32904686a2b369ed526b9b0ea7df8a/linux/athena/shared/libopencv_java460.so
build/tmp/expandedArchives/opencv-cpp-4.6.0-4-linuxathena.zip_4d32904686a2b369ed526b9b0ea7df8a/linux/athena/shared/libopencv_ml.so.4.6
build/tmp/expandedArchives/opencv-cpp-4.6.0-4-linuxathena.zip_4d32904686a2b369ed526b9b0ea7df8a/linux/athena/shared/libopencv_objdetect.so.4.6
build/tmp/expandedArchives/opencv-cpp-4.6.0-4-linuxathena.zip_4d32904686a2b369ed526b9b0ea7df8a/linux/athena/shared/libopencv_photo.so.4.6
build/tmp/expandedArchives/opencv-cpp-4.6.0-4-linuxathena.zip_4d32904686a2b369ed526b9b0ea7df8a/linux/athena/shared/libopencv_stitching.so.4.6
build/tmp/expandedArchives/opencv-cpp-4.6.0-4-linuxathena.zip_4d32904686a2b369ed526b9b0ea7df8a/linux/athena/shared/libopencv_video.so.4.6
build/tmp/expandedArchives/opencv-cpp-4.6.0-4-linuxathena.zip_4d32904686a2b369ed526b9b0ea7df8a/linux/athena/shared/libopencv_videoio.so.4.6
build/tmp/expandedArchives/REVLib-driver-2023.1.3-linuxathena.zip_642c7e0f1e2d2656e8398e7f4c6f19de/linux/athena/shared/libREVLibDriver.so
build/tmp/expandedArchives/wpimath-cpp-2023.1.1-linuxathena.zip_d7392c67557245a6c83df77ea10cf5a3/linux/athena/shared/libwpimath.so
build/tmp/expandedArchives/wpimath-cpp-2023.1.1-linuxathena.zip_d7392c67557245a6c83df77ea10cf5a3/linux/athena/shared/libwpimathjni.so
build/tmp/expandedArchives/wpimath-cpp-2023.2.1-linuxathena.zip_b28f63f8efb3a96b179be5e58f58b462/linux/athena/shared/libwpimath.so
build/tmp/expandedArchives/wpimath-cpp-2023.2.1-linuxathena.zip_b28f63f8efb3a96b179be5e58f58b462/linux/athena/shared/libwpimathjni.so
build/tmp/expandedArchives/wpinet-cpp-2023.1.1-linuxathena.zip_15c54196157a464f58dab6e07495c4eb/linux/athena/shared/libwpinet.so
build/tmp/expandedArchives/wpinet-cpp-2023.1.1-linuxathena.zip_15c54196157a464f58dab6e07495c4eb/linux/athena/shared/libwpinetjni.so
build/tmp/expandedArchives/wpinet-cpp-2023.2.1-linuxathena.zip_45f2329bdb9e8f5039f581ba38eab7c3/linux/athena/shared/libwpinet.so
build/tmp/expandedArchives/wpinet-cpp-2023.2.1-linuxathena.zip_45f2329bdb9e8f5039f581ba38eab7c3/linux/athena/shared/libwpinetjni.so
build/tmp/expandedArchives/wpiutil-cpp-2023.1.1-linuxathena.zip_1afdbc946227ca3705c5c5c18a608aa8/linux/athena/shared/libwpiutil.so
build/tmp/expandedArchives/wpiutil-cpp-2023.1.1-linuxathena.zip_1afdbc946227ca3705c5c5c18a608aa8/linux/athena/shared/libwpiutiljni.so
build/tmp/expandedArchives/wpiutil-cpp-2023.2.1-linuxathena.zip_806079f0cb2d7bcd4247e65e6c6071f0/linux/athena/shared/libwpiutil.so
build/tmp/expandedArchives/wpiutil-cpp-2023.2.1-linuxathena.zip_806079f0cb2d7bcd4247e65e6c6071f0/linux/athena/shared/libwpiutiljni.so
build/tmp/jar/MANIFEST.MF
gradle/wrapper/gradle-wrapper.properties
gradlew
gradlew.bat
settings.gradle
PathWeaver/PathWeaver/SysIDData/config.jsongood
